

label {
	padding: 20px;
	margin: 20 px;
}

p.verde {
	background-color: yellow;
}

p.subrayado, span#spanId1 {
	border: solid;
	padding: 10px;
	margin: 5px;
}

#id-ventana1 {
	border: solid;
	width: 100%;
	padding: 0px 5px 0px 5px;
}

#id-ventana2,#id-ventana3,#id-ventana4,#id-ventana5,#id-ventana6,#id-ventana7 {
	border: solid;
	padding: 0px 5px 0px 5px;
}

p#Titulo {
	text-align: right;
}

.footer {
	
	padding: 0px 5px 0px 5px;
	text-align: center;
}

body {
	background-image: url(https://www.rmol.cz/sites/default/files/main-images/matrix-434035_960_720.jpg);
	background-size: 100% 100%;
	
}

h1,h2,h3,h4,h5,label,p,span {
	color: white;
	text-align: center;
}

li {

	color: #0F0908;
	text-align: center;
}

#anuncio, #anuncio1, #anuncio2, #anuncio3, #anuncio4, #anuncio5 {
	color: white;
	text-align: center;
	border: solid white;
	padding: 20px;
}

#slide1,#slide2,#slide3,#slide4 {
	display: block;
    height: 400px;
    margin:auto;
    width: 50%;
}

.bordes {
	border: solid white;
}

article {
	border: solid white;
	padding: 10px;
}

#enbed {
	color: white;
	text-align: center;
	border: solid white;
	padding: 20px;
}

#img1,.enlace {
	display: block;
    height: 90%;
    margin:auto;
    width: 90%;
    padding: 20px;
}

li {
	margin: 1%;
	
}

.Resaltar {
	color: white;
}

.anuncioGeneric {
	color: white;
	text-align: center;
	border: solid white;
	padding: 20px;
}

.autoMargin {
	margin: auto;
}

.textarea {
	background-color: #E1F5A9;
	color: #000000;
}


#Login,#NewUser {
	
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 10%;
	margin-bottom: 10%;
	background-color: black;
	text-align: center;
	
}

.centrado {
	border: none;
	display: inline;
	
}
