<!doctype html>
<html lang="es">
<head>
<title>ApuntesDesarrolloWeb</title>
<meta charset="utf-8"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
<meta name="Apuntes desarrollo web y escritorio"
	content="Apuntes varios sobre programacion web y de escritorio"></meta>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous"></link>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="/css/estilos.css"></link>

</head>

<body>
	
	<header>
		<h1>APUNTES DESARROLLO WEB</h1>
	</header>
	<nav>
		<div id="carouselExampleIndicators" class="carousel slide"
			data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0"
					class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
			</ol>
			<div class="row">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<a href="/Home"> <img class="d-block h-10"
							src="/images/monitor.png"
							alt="First slide" id="slide1"></img>
							<div class="carousel-caption d-none d-md-block">
								<h5>Página Principal</h5>
							</div>
						</a>
					</div>
					<div class="carousel-item">
						<a href="/ProgramacionJava/1"> <img class="d-block h-10"
							src="/images/java.png"
							alt="Second slide" id="slide2"></img>
							<div class="carousel-caption d-none d-md-block">
								<h5>Programación Java</h5>
							</div>
						</a>
					</div>
					<div class="carousel-item">
						<a href="/AplicacionesWeb/1"> <img class="d-block "
							src="/images/spring-logo.png"
							alt="Third slide" id="slide3"></img>
							<div class="carousel-caption d-none d-md-block">
								<h5>Aplicaciones Web</h5>
							</div>
						</a>
					</div>
					<div class="carousel-item">
						<a href="/Contacto"> <img class="d-block"
							src="/images/mail.png"
							alt="Third slide" id="slide4"></img>
							<div class="carousel-caption d-none d-md-block">
								<h5>Contacto</h5>
							</div>
						</a>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators"
				role="button" data-slide="prev"> <span
				class="carousel-control-prev-icon" aria-hidden="true"></span> <span
				class="sr-only">Previous</span>
			</a> <a class="carousel-control-next" href="#carouselExampleIndicators"
				role="button" data-slide="next"> <span
				class="carousel-control-next-icon" aria-hidden="true"></span> <span
				class="sr-only">Next</span>
			</a>
		</div>
	</nav>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-6">
					<p>Contacto:</p>
					<p>* ernestoseisa@outlook.com</p>
				</div>
				<div class="col-6">
					<p>Codigos fuente de la aplicación:</p>
					<p>- https://www.google.com.ar/</p>
				</div>
			</div>
		</div>

	</footer>

</body>

</html>