<!DOCTYPE html>
<html>
  <head>
    ...
  </head>
  <body>


    <!--Primer fragment para enbeber en el tag Footer-->
	    <div th:fragment="FooterDefault" id="footer">
			<div class="container">
				<div class="row">
					<div class="col-6">
						<p class="pFooter">Contacto:</p>
						<p class="pFooter">* ernestoseisa@outlook.com</p>
					</div>
					<div class="col-6">
						<p class="pFooter">Codigos fuente de la aplicación:</p>
						<p class="pFooter">- <a class="aFooter" href="https://github.com/ErnestoTruyen/ApuntesDesarrolloWeb">https://github.com</a></p>
					</div>
				</div>
			</div>    	
	    </div>
   
	<!--Fin del primer fragment Footer-->
    

	<!--Segundo fragment para enbeber en el tag Footer-->
	   
	<!--Fin del segundo fragment Footer-->





  </body>
</html>