<!DOCTYPE html>
<html>
  <head>
    ...
  </head>
  <body>
   
   
    <!--Primer fragment para enbeber en el tag Header-->
    
    
	    <div th:fragment="HeaderDefault" class="bordes">
	      	<h1>APUNTES DESARROLLO WEB </h1>
	      	
	      	<a href="#" data-toggle="modal" data-target="#login-modal">Login</a>

			<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
	    		<div class="modal-dialog">
					<div class="loginmodal-container">
						<h1>Iniciar Sesión</h1><br></br>
					    <form action="/LoguearUsuario">
						  <input type="text" name="user" placeholder="Usuario"></input>
						  <input type="password" name="pass" placeholder="Contraseña"></input>
						  <input type="submit" name="login" class="login loginmodal-submit" value="Login"></input>
					    </form>
						
					    <div class="login-help">
						  <a href="/FormularioUsuario">Crear una Cuenta</a> --- <a href="#">Contraseña Olvidada?</a>
					    </div>
					</div>
				</div>
		  	</div>
	      	
	    </div>
	    
	    

    <!--Fin primer fragment Header-->
    
    
    <!--Segundo fragment para enbeber en el tag Header-->
    
    	<div th:fragment="HeaderRelleno" class="bordes">
      		<h1>APUNTES DESARROLLO WEB RELLENO</h1>
    	</div>
    <!--Fin primer fragment Header-->
    
    
  </body>
</html>