<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"></meta>
 
  </head>
  <body>
   
   
    <!--Primer fragment para enbeber en el tag Header-->
    
    
	    <div th:fragment="HeaderDefault" class="bordes">
	    
	    	
	    	<div class="row">
	    		<div class="col-10">
	    			<a href="/Home"><h1>APUNTES DESARROLLO WEB </h1></a>
	    		</div>
	    		<div class="col-2">
	    			<div class="container">
						<div class="row">
							<a class="btn btn-primary" data-toggle="modal" href="#Login" >Login</a>
							
							<a class="btn btn-primary" href="/Cerrarsesion" >logout</a>
							
							
							<!-- DIV DEL DESPLEGABLE PARA LOGUEARSE -->
		        			<div class="modal hide" id="Login">
		          				<div class="modal-header centrado">
		            				<button type="button" class="close" data-dismiss="modal">X</button>
		            				<h3>Iniciar sesion</h3>
		          				</div>
		          				<div class="modal-body centrado">
		            				<form method="post" action="/LoguearUsuario" name="login_form">
		              					<p><input type="text" class="span3" name="user" id="email" placeholder="Email"></input></p>
		              					<p><input type="password" class="span3" name="pass" placeholder="Password"></input></p>
		              					<p><button type="submit" class="btn btn-primary">Entrar</button>
		                					<a href="#">Olvidaste tu contraseña?</a>
		              					</p>
		            				</form>
		          				</div>
		          				<div class="modal-footer centrado">
		            				<a href="#NewUser" class="btn btn-primary" data-toggle="modal">
		            					<button type="button" class="close" data-dismiss="modal">Crear cuenta</button>
		            				</a>
		          				</div>
		        			</div>
		        			
		        			
		        			<!-- DIV DEL DESPLEGABLE PARA CREAR UN USUARIO NUEVO -->
		        			<div class="modal hide" id="NewUser">
		          				<div class="modal-header centrado">
		            				<button type="button" class="close" data-dismiss="modal">X</button>
		            				<h3>Nuevo Usuario</h3>
		          				</div>
		          				<div class="modal-body centrado">
		            				<form method="post" action="/CrearUsuario" name="login_form">
		              					<p><input type="text" class="span3" name="nombre" id="email" placeholder="Email"></input></p>
		              					<p><input type="password" class="span3" name="contra" placeholder="Password"></input></p>
		              					<p><button type="submit" class="btn btn-primary">Crear</button></p>
		            				</form>
		          				</div>
		        			</div>
		        			
		        					        			
		        			
						</div>
					</div>
	    		</div>
	    	</div>
	      	
	      	
	      	
	      	
	      	
	      	
	    </div>
	    
	    

    <!--Fin primer fragment Header-->
    
    
    <!--Segundo fragment para enbeber en el tag Header-->
    
    	<div th:fragment="HeaderRelleno" class="bordes">
      		<h1>APUNTES DESARROLLO WEB RELLENO</h1>
    	</div>
    <!--Fin primer fragment Header-->
    
    
  </body>
</html>